body { 
	font-family: Open Sans;
	background-color: #faf8da;
	margin: 0px;
	text-align: center;

	    color: #205D76;
    font-size: 20px;
}

marker {text-align: center;

}

.torremaldita {
	width: 650px;
}

.reduzirimg {
	width: 200px;
}

footer {
  padding: 2px;
  background-color: #FFC122;
  text-align: center;
}

a {
  
  padding-left: 15px;
  color: orange; 
}

h2 {
    color: #205D76;
    font-size: 30px;
}
 .imagemtexto {
  display: flex; 
  display: -webkit-flex; 
  margin: 50px auto; 
  width: 450px; 
}

/*.textoimagem { 
  margin-left: 30px;
}*/